*{
    padding: 0;
    margin: 0;
    font-family: "Italiana", sans-serif;
 
}


#container{
display: flex;
background-color: rgb(0, 0, 0);
height: 110px;
width: 100%;
margin: solid 2px black;
}
#pesquisar{
    height: 30%;
    width: 30%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 10px;
    font-size: larger;
}
header svg{
    height: 30%;
    margin-left: 13%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 10px;
}

header img{
    height: auto;
    width: 7%;
    
}

header ul{
    display: flex;
    gap: 30%;
    margin-top: 2%;
    margin-left: 5%;
}
li a{
 color: white;
 font-size: 24px
}

#login{background-color: white;
color: black;
padding: 10%;
border-radius: 6px;}

#fundo{
height: 5%;
width: 100%;
filter:brightness(0.7);
z-index: 0;

}
#maispedidos{
    display: flex;
    height: 100vh;
    background-color: black;
    justify-content: center;
   
}
#maispedidos h3{
    position: absolute;
    color: white;
    font-size: 42px;
    margin-top: 2%;
    border-bottom: double 2px white;
    width: 20%;
    padding-left: 3%;
}
#peça{
    display: flex;
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 42px;
    margin-top: 5%;
    margin-left: 3%;
}
#faça{display: flex;
position: absolute;
z-index: 1;
margin-top: 15%;
margin-left: 30%;
font-size: 42px;
border-top: solid 1px white;
border-bottom: solid 1px white;
width: 20%;
padding-left: 5%;
}
#faça a{
    text-decoration: none;
    color: white;
    
}
#double{
    margin-top: 15%;
    position: absolute;
    color: white;
    font-size: 42px;
    width: 20%;
    padding-left: 3%;
    margin-right: 30%;
}
#classico{margin-top: 15%;
    position: absolute;
    color: white;
    font-size: 42px;
    width: 20%;
    padding-left: 3%;
    margin-left: 30%;}

