body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('fundosobrenos.png') no-repeat center center/cover;
    color: #fff;
}

.container {
    background-color: rgba(0, 0, 0, 0.5); /* fundo escuro semi-transparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 18px;
    line-height: 1.6;
}